.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.projects-container h1 {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 45px;
  letter-spacing: 3px;
}

.single-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 55px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  background: transparent;
  backdrop-filter: blur(3px);
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
  25% {
    box-shadow: 0 0 20px #f78aff99;
  }
  50% {
    box-shadow: 0 0 20px rgba(111, 195, 255, 0.8);
  }
  75% {
    box-shadow: 0 0 20px #f78aff99;
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
}

.single-project-container:hover {
  animation: glowAnimation 5s linear infinite;
}

.single-project-container:hover {
  transform: scale(1.1);
}

.project-name {
  color: rgb(62, 62, 62);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}

.project-description {
  color: rgb(62, 62, 62);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

.project-github a {
  text-decoration: none;
  color: rgb(37, 33, 33);
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

.project-link a {
  text-decoration: none;
  color: rgb(37, 33, 33);
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

.project-video a {
  color: rgb(37, 33, 33);
  font-size: 25px;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}
