:root {
  --app-bg: linear-gradient(0deg, #0b1626 0%, #402880 50%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  /* background-color: #0b1626; */
  background-image: url("https://i.gifer.com/vF.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Hide the scrollbar track */
::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
  background-color: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
