.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.header h1 {
  color: rgb(0, 168, 0);
  margin-bottom: 3px;
  font-size: 60px;
}

.header h1 a {
  color: green;
  text-decoration: none;
  margin-right: 10px;
}

.header h1 a:hover {
  background: linear-gradient(to right, #11a800, #ffffff, #ff0000);
  background-clip: text;
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s infinite alternate;
  -webkit-animation: gradientAnimation 5s infinite alternate;
}

.header h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 5px;
}

.header p {
  color: rgb(255, 88, 88);
  font-size: 25px;
}

@keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
